@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url("img/bg2.jpg") no-repeat fixed center ; */
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  overflow: hidden  ;
  transition: 1s;

}
.bg{
  position: absolute;
  left: 0px;
  z-index: -5;
  width: 100vw;
  transition: 1s linear;
}

.main {
  height: 600px;
  width: 1400px;
  /* background-color: transparent; */
  /* background-color: white; */
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.search {
  position: relative;
  width: 600px;
  height: 50px;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  border: 2px solid rgb(0, 255, 195);
}
.search div{
  position: absolute;
  width: 598px;
  height: 50px;
  background-color: white;
  opacity: 40%;
  left: 0px;
  border-radius: 10px;
  z-index: -2;
}

.input {
  position: relative;
  left: 10px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  background-color: transparent;
}
.s-icon {
  width: 35px;
  height: 35px;
  transition: 0.5s;
}
.s-icon:hover{
  width: 40px;
  height: 40px;
}
.w-name{
  font-size: 80px;
}
.w-pic {
  padding: 20px;
  width: 170px;
}
.box{
  width: 500px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

}
.in-box{
  width: 500px;
  height: 300px;
  border-radius: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: white;
  opacity: 40%;
  box-shadow: 1px 1px 10px rgb(0, 0, 0.1),
                -1px -1px 10px rgb(0, 0,0.1);

}
.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  position: relative;
  left: 80px;
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 15px;
}
.locating {
  display: flex;
}
.upper-pic {
  width: 35px;
}
.author {
  font-size: 10px;
  color: rgb(169, 171, 173);
}
